        <div class="content content-home">
            <div class="banner-area">
                <div class="left">
                    <h1>Enabling event-goers to pool resources<br />for attending events effectively</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat faucibus sapien, nec varius elit mollis et. Etiam a velit libero.</p>
                    
                    <div class="event-tick">3,014,237 <span>event-goers sharing resources</span></div>
                </div>
                <div class="right">
                    <h2>Make your event a success</h2>
                    <ul class="feature-list">
                        <li id="manage-events">
                            <h3>Create & Manage Events</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat faucibus sapien.</p>
                        </li>
                        <li id="connect-with-others">
                            <h3>Connect with other goers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat.</p>
                        </li>
                    </ul>
                    
                    <%= link_to image_tag('create-an-event-home.png'), event_create_path, :class => 'create-event-button' %>
                </div>
                <div class="clear-fix">&nbsp;</div>
            </div>
            <div class="content-wrapper">
                <div class="left-column">
                    &nbsp;
                    <%= render :partial => 'events_attending' unless current_user.nil? %>
                </div>
                <div class="right-column">
                    <%= render "shared/search_box" %>
                    <table width="100%" class="popular-events">
                    <tr>
                        <th colspan="3">Upcoming Events</th>
                    </tr>
					<% Event.find(:all, :order => 'starts_at DESC', :limit => 10).each do |event| %>
					 <tr>
                        <td class="title"><%= link_to event.name, event_path(event.id) %></td>
                        <td class="date"><%= Time.at(event.starts_at.to_i).strftime("%b %e, %Y") %></td>
                        <td class="attend">
							<% unless event.attendees.include?(current_user) %>
							<%= link_to 'Attend', attend_event_path(event.id) %>
							<% else %>
							<strong>Already Attending</strong>
							<% end %>
						</td>
                    </tr>
					<% end %>
                    </table>
                </div>
                <div class="clear-fix">&nbsp;</div>
            </div>
        </div>