<% user = User.find_by_id(comment.user_id) %>
<%  if !user.nil? %>

<div class="comment-wrapper">
    <div class="comment">
      <!--// <div class="summary">member since: <%= user.registered_on %>, attended <%= Event.attended_by(user).count %> events </div> //-->
      <div class="icon">
        <% if user.avatar.exists? %>
          <%= link_to (image_tag user.avatar.url(:thumb)), profile_url(user.id) %>
        <% else %>
          <%= link_to (image_tag '/images/user-icon.jpg'), profile_url(user.id) %>
        <% end %>
      </div>
      <div class="name"><%= link_to user.name, profile_url(user.id) %></div>
      <div class="location"><%= user.city %> <%=  user.region%></div>
      <div class="clear-fix">&nbsp;</div>
      
      <div class="body">
        <%= comment.message %>
      </div>
      
      <div class="links">
        <%= link_to 'reply', comment_reply_url(:comment_id => comment.id), :remote=> true, :class=>'reply_link' %>
      </div>
    </div>
    <div class="comment-replies">
      <div id="reply_to_<%= comment.id %>">
      </div>
      <% unless comment.children.empty? %>
        <% comment.children.each do |child| %>
          <%= render :partial => 'shared/comment', :locals => {:comment => child, :group => group} %>
        <% end %>
    </div>
    <% end %>
</div>
<% end %>