<div class="message">
<% user = User.find_by_id(comment.user_id) %>
<%  if !user.nil? %>
<div class="icon">
    <% if user.avatar.exists? %>
    <%= image_tag user.avatar.url(:thumb) %>
  <% else %>
    <%= image_tag '/images/user-icon.jpg' %>
  <% end %>
</div>

<% end %>
<div class="info">
<%= user.name rescue "anonymous"%>
</div>
<div class="subinfo">
<%= user.city rescue "" %> <%= user.region rescue ""  %> ~ <%= group.event.event_group.memberships.for_user(user).first.sharables.collect{|share| share.name }.join(", ") rescue "not sharing" %>
<br/>
</div>
<div class="body">
<%= comment.message %>
</div>

<%= link_to 'reply', comment_reply_url(:comment_id => comment.id), :remote=> true, :class=>'reply_link' %>
  <div id="reply">
  </div>

</div>