<div class="message wrapper">
<% user = User.find_by_id(comment.user_id) %>
<%  if !user.nil? %>
<div class="icon"><%= image_tag user.avatar.url(:thumb) if user.avatar.exists? %></div>
<% end %>
<div class="info">
<%= user.name rescue "anonymous"%>
</div>
<div class="subinfo">
<%= user.city rescue "city" %> <%= user.region rescue "province"  %> <%=   %>
<%= group.event.event_group.memberships.for_user(user).first.sharables.collect{|share| share.name }.join(", ") rescue "" %>
<br/>
<%= comment.message %>
</div>
</div>