<%= will_paginate(@events) %>
<% prev_date = '' %>

<% unless @events.empty? %>
<table width="100%" class="search-result-set">
<% @events.each do |event| %>
<% date = Time.at(event.starts_at.to_i).strftime("%B %e, %Y") %>
<tr>
  <td>
    <h2><%= link_to CGI.unescapeHTML(event.name).html_safe, event_path(event.id) %></h2>
    <div class="location"><strong>Location:</strong> <%= event.city %>, <%= event.region %></div>
    <div class="time"><strong>Date &amp; Time:</strong> <%= date %> at <%= Time.at(event.starts_at.to_i).strftime("%I:%M%p") %><%= " to #{Time.at(event.ends_at.to_i).strftime("%I:%M%p")}" if !event.ends_at.nil? && Time.at(event.ends_at.to_i).strftime("%B %e, %Y") == date %></div>
    <% unless event.description.empty? %>
    <div class="description">
      <p><%= CGI.unescapeHTML(event.description).html_safe.gsub(/<\/?[^>]*>/, "")[0..230] %>...</p>
      <div class="read-more"><%= link_to 'Read More', event_path(event.id) %></div>
    </div>
    <% end %>
  </td>
</tr>
<% prev_date = date %>
<% end %>
</table>
<% end %>
<%= will_paginate(@events) %>