<%= will_paginate(@events) %>
<% prev_date = '' %>
<% @events.each do |event|  %>
    <% date = Time.at(event.starts_at.to_i).strftime("%B %e, %Y")
       if date == prev_date %><hr /><% else %>
  <% unless prev_date == '' %></div><% end %><div class="search_result"><div class="date"><%= date %></div><% end %>
    <div><%= link_to CGI.unescapeHTML(event.name).html_safe, event_path(event.id) %></div>
    <div><%= event.city %>, <%= event.region %></div>
    <div><%= Time.at(event.starts_at.to_i).strftime("%I:%M%p") %>
        <%= " to #{Time.at(event.ends_at.to_i).strftime("%I:%M%p")}" if !event.ends_at.nil? && Time.at(event.ends_at.to_i).strftime("%B %e, %Y") == date %>
    </div>
    <div><%= CGI.unescapeHTML(event.description[0..200]).html_safe.gsub(/<\/?[^>]*>/, "") unless event.description.nil? %>...<%= link_to 'Read More', event_path(event.id) %></div>
  <% prev_date = date %>
<% end %>
<% unless @events.blank? %></div><% end %>
<%= will_paginate(@events) %>