<h2 class="heading">Groups <span class="qlink"><%= link_to 'Create Group', create_group_path(@event.id) %></span></h2>
  <!--// <%= render :partial => 'invitations_listing'  %> -->
  <%= render :partial => 'my_groups' %>

<% unless (@groups - @groups.for_user(current_user)).empty? %>
  <h4 class="subheading">Other Groups</h4>
  <div class="filter">
    <p>Show only groups sharing:</p>
    <% form_tag filter_groups_path(@event.id), :remote => true do %>
    <ul>
    <% Sharable.all.each do |sharable| %>
      <li><%= check_box_tag(sharable.slug, '', false, :class => 'submittable') %><%= label_tag(sharable.slug, sharable.name) %></li>
    <% end %>
    </ul>
    
    <% cities = [""] + (@groups - @groups.for_user(current_user)).collect{|group| group.city + ", " + group.region unless group.city.blank? || group.region.blank?}.flatten.uniq %>
    <% unless cities.count <= 2 %>
    <p>Show only groups in:</p>
    <%=  select_tag("city", options_for_select(cities), :class => 'submittable') %>
    <% end %>
    <% end %>
  </div>
  <div id="filtered_groups">
    <%= render :partial => 'filtered_groups' %>
  </div>
<% end %>

