<% set_title(@event.name) %>
<% unless flash[:message].nil? %>
  <%= flash[:message] %><br /><br />
<% end %>
<h3><%= @event.safe_name %><span style="font-size: small">
  <% if !current_user.nil? && @event.administrator == current_user %>
   - <%= link_to 'Edit', event_update_path(@event.id) %>
  <% end %></span>
</h3>
<% unless @event.attendees.include?(current_user) %>
  <%= link_to 'Attend', attend_event_path %>
<% else %>
  <%= link_to 'Export to Calendar', export_event_path(@event.id) %>  -  
  <%= link_to 'Cancel Attendance', cancel_attendance_path, :confirm => 'Are you sure you want to cancel your attendance of this event?' %><br /><br />
<% end %>
  <div class="clear-fix"></div>
  
  <div style="float:left">
   
    <% if @event.attendees.include?(current_user) %><%= render :partial => 'shared/update_sharables' %><br /><br /><% end %>
    <strong>Starts:</strong> <%=  Time.at(@event.starts_at.to_i).strftime("%b %e, %Y at %l:%M%p") rescue "" %><br />
    <strong>Ends: </strong><%=  @event.ends_at.to_i == 0 ? "":Time.at(@event.ends_at.to_i).strftime("%b %e, %Y at %l:%M%p") rescue ""%><br />
    <strong>Location:</strong><br /><%= CGI.unescapeHTML(@event.address).html_safe %><br /><%= CGI.unescapeHTML(@event.city).html_safe %>, <%= CGI.unescapeHTML(@event.region).html_safe %><br /><%= CGI.unescapeHTML(@event.code).html_safe %><br />
    <strong>Phone:</strong> <%= CGI.unescapeHTML(@event.phone).html_safe %><br />
    <strong>Email:</strong> <%= CGI.unescapeHTML(@event.email).html_safe %><br />
    <%= render :partial => 'event_url' %>
    
    <br /><br />
    <!--// Problem: Since we are running localhost, and not an actual domain - Twitter does not like the data-url "<%= request.url %>" //-->
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="eventpooler.com" data-text="Check out the event <%= @event.safe_name %> at eventpooler.com!" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= request.url %>" layout="button_count" show_faces="true" width="450" font="arial"></fb:like>
  </div>
  
<% if @event.attendees.include?(current_user) %>
  <div style="float: right"><%= render :partial => 'attendees' %></div>
<% end %>
<div class="clear-fix">
</div>
<div style="float: left">
      <br /><%= CGI.unescapeHTML(@event.description).html_safe unless @event.description.nil? %>
</div>
  <div class="clear-fix"></div>
  <br/>
<%= render :partial => 'shared/message_board', :locals => {:group => @event.event_group} %>
<% content_for :right_column do %>
  <%= render :partial => 'groups' %>
<% end %>