<% set_title "#{@user.name}'s Profile" %>
<h2><%= @user.name %></h2>

<%= render :partial => 'shared/user_snapshot', :locals => {:user => @user} %>

<% users_groups = Membership.find_all_by_user_id(@user.id, :include => :group).collect{|membership| membership.group} %>

<% users_events = users_groups.collect{|group| group.event}.uniq.sort_by{|event| event.starts_at} %>

<% my_groups =  Membership.find_all_by_user_id(current_user.id, :include => :group).collect{|membership| membership.group} rescue [] %>
<%  common_groups = users_groups & my_groups
if !common_groups.blank?
    #find the private groups we have in common
    common_groups.delete_if{|group| group == group.event.event_group || group.public?}

    common_events = common_groups.collect{|group| group.event}.uniq!

    #remove the reviews I have already submitted
    reviewed_events = UserReview.find_all_by_user_id_and_reviewer_id(@user.id, current_user.id, :include => :event).collect{|review| review.event}

    common_events.delete_if{ |event| reviewed_events.include?(event) }
end
%>

<% if !common_events.blank? && @user != current_user %>
    <%= link_to "Rate This User", "#", :id=> "rate_link", :onclick=>"$('#user_ranking').toggle();"  %>
<%  end %>



<% if !common_events.blank? && @user != current_user %>
<%= render :partial => 'shared/rating_form', :locals => {:events => common_events} %>
<br/>
<% end %>

<% if current_user && @user != current_user %>
  <%= link_to "Send a Message", "#", :id=> "rate_link", :onclick=>"$('#send_message').toggle();"  %>
<% end %>

<% if current_user %>
<div id="send_message">
  Send <%= @user.name %> a message<br />
  <% form_tag do %>
    <%= text_area_tag(:message, "", :size => "50x6") %><br />
    <%= submit_tag "Send" %>
  <% end %>
</div>
<% end %>


<div class="users_events" style="clear:both">
  <br />
<h3><%= @user.name %>'s Events</h3>
<% users_events.each do |event| %>
<%= link_to event.safe_name, event_url(event.id) %> - <%= Time.at(event.starts_at.to_i).strftime("%b %d, %Y at %I:%M%p") %><br />
<% end %>
</div>

<div class="reviews" style="clear:both">
<% reviews = UserReview.find_all_by_user_id(@user.id) %>
<% reviews.reject!{|r| r.review.blank?} %>
<% if !reviews.blank? %>
  <br />
<h3>What others say about <%= @user.name %></h3>
<% reviews.each do |review| %>
<div class="review">
  <%= review.review %>
  --<%=  link_to User.find(review.reviewer_id).name, profile_url(review.reviewer_id) %>
</div>
<% end %>
<% end %>
</div>

<div class="given_reviews">
<% reviews = UserReview.find_all_by_reviewer_id(@user.id) %>
<% reviews.reject!{|r| r.review.blank?} %>
<% if !reviews.blank? %>
  <br />
<h3>What <%= @user.name %> says about others</h3>
<% reviews.each do |review| %>
<div class="review">
-- <%=  link_to review.user.name, profile_url(review.user.id) %>
<%= review.review %>
</div>
<% end %>
<% end %>
</div>

