<% set_title "Invite Friends to '#{@group.name}'" %>
<div class="form">
  <h2>Invite Friends</h2>
  <p>To invite multiple friends, separate each email address with a comma</p>
  <% form_tag do %>
    <p><%= label_tag(:email_addresses, "Email Address(es)") %><%= text_field_tag :email_addresses %></p>
    <p><%= label_tag(:message, "Message:") %>
    <%= text_area_tag :message, '', :size => "24x6" %></p>
    <p class="submit"><%= submit_tag 'Send Invitation' %></p>
  <% end %>
</div>