<% unless flash[:message].blank? %>
  <%= flash[:message] %><br />
<% end %>
<%= link_to 'Back to Event', event_path(@group.event.id) %>
<h2><%= @group.name %>
  <% if @group.administrator == current_user %>
    - <%= link_to 'Edit', update_group_path(@group.event.id, @group.id) %>
  <% end %>
</h2>
<% unless @group.users.include?(current_user) %>
  <% unless @group.public? %>This group is private, but you can<% end %>
  <%= link_to @group.public? ? 'Join' : 'Request to Join', join_group_path(@group.event.id, @group.id) %>
<% end %>
<h3>Members</h3>
<% @group.memberships.approved.each do |member| %>
<%= member.user.name  %>
<%end%>

<%= render :partial => 'shared/message_board', :locals => {:group => @group} %>