<% set_title(@group.name) %>
<% unless flash[:message].blank? %>
  <%= flash[:message] %><br />
<% end %>
<%= link_to 'Back to Event', event_path(@group.event.id) %>
<h2><%= @group.name %><span style="font-size: small">
  <% if @group.administrator == current_user %>
   - <%= link_to 'Edit', update_group_path(@group.event.id, @group.id) %>
  <% end %></span>
  </h2>
<%= @group.description %><br/>
<%= @group.city %> <%= @group.region %>
<br />
<% unless @group.users.include?(current_user) %>
  <% unless @group.public? %>This group is private, but you can<% end %>
  <%= link_to @group.public? ? 'Join' : 'Request to Join', join_group_path(@group.event.id, @group.id) %>
<% end %>
<% if @group.users.include?(current_user) && @group.memberships.approved.for_user(current_user).blank? %>
  Your group membership is awaiting approval from the administrator.
<% end %>
<br/>
<% if !@group.memberships.approved.for_user(current_user).blank? %>
<%= link_to 'Invite A Friend', group_invite_path(@group.event_id, @group.id) %><br /><br />
<%= link_to 'Leave Group', group_leave_path(@group.event_id, @group.id), :confirm => 'Are you sure you want to remove yourself from this group?' unless current_user == @group.administrator %><br />
<%= render :partial => 'shared/update_sharables' %>
<h3>Members</h3>
<% @group.memberships.approved.each do |member| %>
  <%= render :partial => 'shared/user_snapshot', :locals => { :user => member.user } %>
  <div class="group_attendee">
    Sharing: <% sharing = @group.memberships.for_user(member.user).first.sharables.collect{|share| share.name }.join(", ") rescue "nothing" %>
    <%= !sharing.blank? ? sharing : "nothing"  %>
  </div>
<%end%>
<br/>
<% end %>
<%= render :partial => 'shared/message_board', :locals => {:group => @group} if !@group.memberships.approved.for_user(current_user).blank? || @group.public? %>