<% unless flash[:message].blank? %>
  <%= flash[:message] %><br />
<% end %>
<%= link_to 'Back to Event', event_path(@group.event.id) %>
<h2><%= @group.name %><span style="font-size: small">
  <% if @group.administrator == current_user %>
   - <%= link_to 'Edit', update_group_path(@group.event.id, @group.id) %>
  <% end %></span>
  </h2>
<%= @group.description %><br/>
<%= @group.city %> <%= @group.region %>
<br />
<% unless @group.users.include?(current_user) %>
  <% unless @group.public? %>This group is private, but you can<% end %>
  <%= link_to @group.public? ? 'Join' : 'Request to Join', join_group_path(@group.event.id, @group.id) %>
<% end %>
<% if @group.users.include?(current_user) && @group.memberships.approved.for_user(current_user).blank? %>
  Your group membership is awaiting approval from the administrator.
<% end %>
<br/>
<% if !@group.memberships.approved.for_user(current_user).blank? %>
<%= render :partial => 'shared/update_sharables' %>
<h3>Members</h3>
<% @group.memberships.approved.each do |member| %>
<div>
  <% if member.user.avatar.exists? %>
    <%= image_tag member.user.avatar.url(:thumb) %>
  <% else %>
    <%= image_tag '/images/user-icon.jpg' %>
  <% end %>
    <%= render :partial => 'shared/rating_stars', :locals => { :reviews => UserReview.find_all_by_user_id(member.user.id)} %>

  <strong><%= member.user.name %></strong>
<span style="font-size: small; font-style:italic;"><%=  @group.event.event_group.memberships.for_user(member.user).first.sharables.collect{|share| share.name }.join(", ") rescue "" %></span>
</div>
<%end%>
<br/>
<% end %>
<%= render :partial => 'shared/message_board', :locals => {:group => @group} if !@group.memberships.approved.for_user(current_user).blank? || @group.public? %>