<head>
	<title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="Author" content="Aaron McGowan - www.amcgowan.ca" />
	<meta name="robots" content="index, follow" />

    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'south-street/jquery-ui-1.8.6.custom.css' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'jquery.rails.js' %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min.js' %>
    <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
</head>