<!DOCTYPE html>
<html>
<head>
  <title>EventPooler</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'jquery.rails.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render :partial => '/shared/user_info'  %>

<%= yield %>

</body>
</html>
